<div class="welcome-page-container flex-row">

  <div class="welcome-info-container flex-row">
    <div class="welcome-description-container">
      <div class="welcome-logo"></div>
      <h1>rHealth Accelerator Tools</h1>
      <div class="welcome-description">
        This tool is for users within MD team who wants to create patient cohorts for their research.
        The user can make selections accordingly from the dedicated segments of the notebook.
      </div>
    </div>

    <div class="authorization-container">
      <form class="flex-column"
            (ngSubmit)="onSubmit()"
            [formGroup]="loginForm" >
        <mat-form-field>
          <input matInput
                 placeholder="Login"
                 formControlName="login"
                 (input)="hideError()">
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 type="password"
                 placeholder="Password"
                 formControlName="password"
                 (input)="hideError()">
        </mat-form-field>
        <mat-error [hidden]="hideSignInError"
                   class="authorization-submit-error">
          Login or Password is incorrect
        </mat-error>
        <button class="authorization-submit-button"
                type="submit"
                mat-raised-button
                color="primary">
          Sign In
        </button>
      </form>
    </div>
  </div>

</div>
