.welcome-page-container {
  width: 100%;
  height: 100vh;
  background-color: #F5AC25;
  color: white;
}

.welcome-logo {
  width: 100px;
  height: 43px;
  background-image: url('../../assets/logo-welcome-page.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.welcome-info-container {
  padding: 100px;
  margin: auto;
}

.authorization-container {
  margin-left: 110px;
  padding: 20px;
  width: 270px;
}

.welcome-description {
  max-width: 570px;
  font-family: Karbon-Thin;
  font-size: 24px;
}

.authorization-submit-error, .authorization-submit-button {
  position: relative;
  top: -13px;
}

// Override inputs color
.mat-form-field-empty.mat-form-field-label, .mat-form-field-appearance-legacy .mat-form-field-label  {
  color: white !important;
}

.mat-form-field-underline, .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
}

.mat-input-element {
  caret-color: white;
}
