.tools-panel-container {
  width: 200px;
  height: 100%;
  background-color: white;
  border-right: 1px solid rgba(51, 51, 51, 0.1);
}

.tools-menu-items-container {
  padding: 20px;
}

.tool-item-content {
  min-width: 100px;
}

.tool-item-icon {
  margin-right: 10px;
}
