/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-base-line {
  align-items: baseline;
}

.align-center {
  align-items: center;
}
