/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: Karbon;
  src: url('assets/Karbon-Regular.otf');
}

@font-face {
  font-family: Karbon-Thin;
  src: url('assets/Karbon-Thin.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Karbon;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-base-line {
  align-items: baseline;
}

.align-center {
  align-items: center;
}
